<style>
	.html_bg {
		display: block !important;
	}
	
	#bigbox {
		background: #000;
		height: 100%;
	}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	}	
	
footer p{
	color: rgba(255,255,255,0.4);
	}
</style>
<div class="row">
	<div class="col-12">
		<div class="page-header">
			<p class="white light-text title_section float-left">Salas de ensayo</p>
			<button class="btn btn-info float-right">
				<i class="fa fa-info"></i>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" class="rooms_container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/sala1.jpg" alt="Sala A">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala A</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/sala2.jpg" alt="Sala B">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala B</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./img/sala3.jpg" alt="Sala C">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala C</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
