<style type="text/css">
	.card{
		margin: 5px;
	}
</style>
<div class="row">
	<div class="col-12">
		<div class="page-header">
			<div class="row">
				<div class="col-11">
					<p class="title_section">Salas de ensayo</p>
					<p>
						En esta sección podrá encontrar las salas de ensayo registradas en el sistema.
					</p>		
				</div>
				<div class="col-1">
					<button class="btn btn-info float-right">
						<i class="fa fa-info"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" class="rooms_container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/sala1.jpg" alt="Sala A">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala A</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/sala2.jpg" alt="Sala B">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala B</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./img/sala3.jpg" alt="Sala C">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala C</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./img/sala4.jpg" alt="Sala D">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala C</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./img/sala5.jpg" alt="Sala E">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala C</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="./img/sala6.jpg" alt="Sala G">
				  	<div class="card-body">
				    	<h5 class="card-title">Sala C</h5>
				    	<p class="card-text">
				    		<b>$20.000</b><br>
				    		<b>Cll 61 #13 - 38</b>
				    	</p>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
