<!DOCTYPE html>
<div class="row">
	<div class="col-12">
		<div class="page-header">
			<p class="white light-text title_section float-left">Inicio</p>
			<button class="btn btn-info float-right">
				<i class="fa fa-info"></i>
			</button>
		</div>
	<div class="jumbotron">
		<h1 class="display-4">Bienvenido!</h1>
		<p class="lead">Aqui encontraras todo lo relacionado con tus reservas y tus salas favoritas.</p>
		<hr class="my-4">
		<p>Solo el músico le es permitido el ingreso a esta plataforma.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Aceptar</a>
	  </div>
	</div>
</div>	





