<style>
	.html_bg {
		display: block !important;
	}
	
	#bigbox {
		background: #000;
		height: 100%;
	}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	}	
	
footer p{
	color: rgba(255,255,255,0.4);
	}
</style>
<div class="row">
	<div class="col-12">
		<div class="page-header">
			<p class="white light-text title_section float-left">Activos</p>
			<button class="btn btn-info float-right">
				<i class="fa fa-info"></i>
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" class="rooms_container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/bateria1.png" alt="bateria" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Bateria</h5>
				    	<p class="card-text">
				    		<b>Referencia= B00J1MGIYA</b><br>
							<b>Marca= Yamaha Stage Custom</b><br>
							<b>Tipo= Electrica</b><br>
							<b>Bateria de madera de pedal, rojo. </b><br>
							<b>ID-SBP0F50CR</b>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/piano1.png" alt="Piano" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Piano</h5>
				    	<p class="card-text">
				    		<b>Referencia= Yu Wei Xi Road</b><br>
							<b>Marca= Pear River 118</b><br>
							<b>Tipo= Classic Cantabile</b><br>
							<b>Piano de cola digital negro de alto brillo</b><br>
							<b>ID-GP 500</b><br>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/guitarra4.png" alt="Guitarra" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Guitarra</h5>
				    	<p class="card-text">
				    		<b>Referencia=GT-FLK-AC-SLIM</b><br>
							<b>Marca= Fender FA-125</b><br>
							<b> Tipo= Acustica</b><br>
							<b>Cuerdas de acero y cutaway colores amarillo y naranja</b><br>
							<b>ID-100</b>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/guitar2.png" alt="Guitarra E" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Guitarra Electrica</h5>
				    	<p class="card-text">
				    		<b>Referencia= GHYT567-PO </b><br>
							<b>Marca= Yamaha Pacifica</b><br>
							<b>Tipo= Electrica</b><br>
							<b>Cuerpo de aliso,mastil de alce, rojo.</b><br>
							<b>ID-0128.</b>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/amplificador1.png" alt="Amplificador" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Amplificador Guitarra</h5>
				    	<p class="card-text">
				    		<b>Referencia= CS-112</b><br>
							<b>Marca= Fender</b><br>
							<b>Tipo= Transistores</b><br>
							<b>Manejo de potencia de 80 vatios</b><br>
							<b>ID-4207980</b><br>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/violin1.png" alt="Violin" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Violin</h5>
				    	<p class="card-text">
				    		<b>Referencia= Hxtq08a-1</b><br>
							<b>Marca= Kurzweil</b><br>
							<b>Tipo= Violines</b><br>
							<b>Violin con arco y colofonia, madera mate, de 39 cm.</b><br>
							<b>ID-4231121</b><br>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/bajo1.png" alt="Bajo" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Bajo</h5>
				    	<p class="card-text">
				    		<b>Referencia= TW65 BK</b><br>
							<b>Marca= Tagima</b><br>
							<b>Tipo= Electrico</b><br>
							<b>Bajo electrico de 4 cuerdas color blanco y negro.</b><br>
							<b>ID-543876</b>
							
						</p>
				  	</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
				  	<img class="card-img-top" src="./img/trompeta1.png" alt="Trompeta" height="171px">
				  	<div class="card-body">
				    	<h5 class="card-title">Trompeta</h5>
				    	<p class="card-text">
				    		<b>Referencia= TR-650</b><br>
							<b>Marca= Aristton Bach</b><br>
							<b>Tipo= De llaves</b><br>
							<b>Pistones en acero inoxidable, anillo pulgar y de afinacion.</b><br>
							<b>ID-6418M</b><br>
							
						</p>
				  	</div>
				</div>
			</div>

		</div>
	</div>
</div>
