<!DOCTYPE html>
<div class="row">
	<div class="col-12">
		<div class="page-header">
			<p class="white light-text title_section float-left">Movimientos De Activos</p>
			<button class="btn btn-info float-right">
				<i class="fa fa-info"></i>
			</button>
		</div>
	</div>
</div><br>





<html>
<body>
    <p>Fecha:  <input type="date">
    </p>
    
    
    
    
    <p>Activo:  <select name="menu">
        <option>....</option>
        <option>Bateria</option>
        <option>Piano</option>
        <option>Guitarra</option>
        <option>Guitarra Electrica</option>
        <option>Amplificador Guitarra</option>
        <option>Violin</option>
        <option>Bajo</option>
        <option>Trompeta</option>
      </select> 
    </p>
    
    
    
    
    
    <P>Movimiento:  <select name="menu">
        <option>....</option>
        <option>Entradas Activos</option>
        <option>Salidas Activos</option>
    </select>
    </p>
       
    
    
    
    
    <P>Cantidad:  	<input type="number">
        </p>
        
        <form action="/action_page.php">
          
            <label for="cars">Precio de alquiler:</label>
            <select id="alquiler" name="precios">
              <option value="$">$</option>
              <option value="$10.000">$10.000</option>
              <option value="$20.000">$20.000</option>
              <option value="$25.000">$25.000</option>
              <option value="$30.000">$30.000</option>
              <option value="$35.000">$35.000</option>
            </select>



            <P>Horas alquiler:  	<input type="number">
            </p>
        
        
        
        
        
        
            <p>Observaciones:  <textarea name="texto" rows="4" cols="40" placeholder="Escriba algo"></textarea>
        </p><br>
        




    
    <p>
      <input type="reset" value="GUARDAR INFORMACION" style="margin-left: 30px">
      <input type="submit" value="BORRAR INFORMACION" style="margin-left: 250px">
    </p>
    
</body>
</html>